@charset "UTF-8";

* {
    padding: 0;
    margin: 0;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: rgb(255, 255, 255);
    color: rgb(14, 14, 39);
}

header {
    display: flex;
    padding: 14px;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.096);
}

header img {
    width: 140px;
    margin: auto;
    text-align: center;
}

header h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    margin: auto;
    text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.219);
}

.card > h5 {
    margin-top: 10px;
    font-size: 17px;
    text-align: center;
    font-weight: bolder;
}

.card > p {
    color: rgb(175, 0, 0);
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    text-decoration: underline;
}

.card > a {
    background-color: rgb(26, 136, 41);
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    transition-duration: .3s;
}

.card > a:hover {
    background-color: rgb(33, 170, 51);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.322);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.322);
}

.fixed-image {
    position: fixed;
    bottom: 15px; 
    right: 15px;  
    width: 70px; 
    border-radius: 50%;
    height: auto; 
    z-index: 1000; 
    transition-duration: .3s;
  }

  .fixed-image:hover {
    transform: translate(-3px, -3px);
  }

footer {
    background-color: rgba(224, 224, 224, 0.842);
    width: 90vw;
    margin-top: 30px;
    padding: 15px;
    text-align: center;
}

.qualidade img {
    width: 110px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

@media (min-width: 768px) and (max-width: 1260px) {

    header {
        display: flex;
        padding: 14px;
    
        border-bottom: 1px solid rgba(0, 0, 0, 0.096);
    }
    
    header img {
        width: 140px;
        margin-left: 60px;
    }
    
    header > nav {
        margin-top: 70px;
        margin-left: auto;
    }
    
    nav > a {
        color: rgb(14, 14, 39);
        text-decoration: none;
        margin: 10px;
        transition-duration: .4s;
    }
}

@media (max-width: 425px) {

    header {
        display: flex;
        padding: 14px;
    
        border-bottom: 1px solid rgba(0, 0, 0, 0.096);
    }
    
    header img {
        width: 120px;
        margin-left: 0px;
    }
    
    header > nav{
        margin-top: 70px;
        margin-left: 20%;
    }

    .card > h5 {
        margin-top: 10px;
        font-size: 12px;
        text-align: center;
        font-weight: bolder;
    }
    
    .card > p {
        color: rgb(175, 0, 0);
        font-size: 13px;
        font-weight: 600;
        text-align: center;
        text-decoration: underline;
    }

    .custom-col-small {
        flex: 0 0 50%; /* Ajusta a coluna para ocupar 50% da largura */
        max-width: 20%;
    }

}